<%
  if local_assigns.key?(:class)
    options = { html: { class: local_assigns[:class] } }
  else
    options = {}
  end
  %i[url method].each do |key|
    options[key] = local_assigns[key] if local_assigns.key?(key)
  end
%>

<%= form_for post, options do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 10, placeholder: '例) ○○について相談です、△△するときは××がおすすめです' %>
  </div>

  <div class="form-group">
    <%= label :tags, :values, 'タグ' %>
    <%= select :tags, :values, options_for_select(Tag.all.pluck(:value), post.try(:tags).try(:pluck, :value) || []), {}, { class: 'form-control', multiple: true } %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
    <%= f.hidden_field :image_cache %>
  </div>

  <%= f.submit '投稿する', class: 'btn btn-primary', disabled: !current_user.confirmed? %>
<% end %>
