<%
  if local_assigns[:class].nil?
    options = {}
  else
    options = { html: { class: local_assigns[:class] } }
  end
%>

<%= form_for post, options do |f| %>
  <div class="form-group">
    <%= f.label :body %><br/>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>

  <div class="form-group">
    <%= label :tags, :values, 'タグ' %><br />
    <%= select :tags, :values, Tag.all.collect{ |t| [t.value, t.id] }, {}, { class: 'form-control hidden', multiple: true } %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br/>
    <%= f.file_field :image, class: 'form-control' %>
    <%= f.hidden_field :image_cache %>
  </div>

  <%= f.submit '投稿する', class: 'btn btn-primary', disabled: !current_user.confirmed? %>
<% end %>
