<%= content_for :title, 'ケアスク' %>

<div class="container">
  <% @posts.each do |post| %>
    <a class="card block-link mb-3" href="<%= post_path(post) %>">
      <div class="card-block">
        <h4 class="card-title"><%= post.title %></h4>
        <p class="card-text"><%= truncate post.body %></p>
        <p class="card-subtitle mb-2 text-muted">
          <%= post.user.name %>
          <span class="float-right clearfix">
            <small class="ml-2">コメント: <%= post.comments.count %></small>
            <small class="ml-2"><%= distance_of_time_in_words_to_now post.updated_at %></small>
          </span>
        </p>
      </div>
    </a>
  <% end %>
</div>
