<%= content_for :title, 'ケアスク' %>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="post-list__item-wrapper col-md-12 col-lg-6">
        <div class="post-list__item">

          <div class="row mb-2" style="height: 30px; line-height: 30px;">
            <div class="col-1">
              <img class="mx-auto align-top rounded-circle" src="https://api.adorable.io/avatars/28/<%= post.user.email %>.png" alt="<%= post.user.name %>" style="height: 30px;"/>
            </div>
            <div class="col-9">
              <%= link_to post.user.name, user_path(post.user), class: 'font-weight-bold' %>さん
            </div>
            <div class="col-2">
              <small><%= distance_of_time_in_words_to_now post.updated_at %></small>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <p><%= truncate_l post.body %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <% if post.comment_count.zero? %>
                <span class="badge badge-success">未回答</span>
              <% end %>
            </div>
            <div class="col-10 text-right">
              <% post.tags.each do |tag| %>
                <span class="badge badge-tag"><%= tag.value %></span>
              <% end %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-10">
              <%= link_to '回答する', post_path(post), class: 'btn btn-primary', style: 'width: 90%' %>
            </div>
            <div class="col-2">
              <span class="align-middle">
                <i class="fa fa-comment-o"></i>&nbsp;<%= post.comment_count %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>
