<%= content_for :javascript do %>
  <%= javascript_pack_tag 'profile/image' %>
<% end %>

<%= content_for :css do %>
  <%= stylesheet_pack_tag 'profile/cropper' %>
<% end %>

<div class="container">
  <%= title 'プロフィール画像更新' %>

  <%= form_for @user, url: image_path, html: { multipart: true } do |f| %>

    <!--<% if @user.image? %>-->
      <!--<div class="row">-->
        <!--<div class="col-6 offset-3 text-center mb-3">-->
          <!--<%= image_tag(@user.image_url, class: 'img-thumbnail') %>-->
        <!--</div>-->
      <!--</div>-->
    <!--<% end %>-->

    <div class="row mb-3">
      <div class="col-6 offset-3">
        <div id="canvas-wrapper" class="mb-3" style="display: none;">
          <div id="canvas-spacer"></div>
          <canvas id="canvas"></canvas>
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <%= f.file_field :image, class: 'form-control' %>
      <%= f.hidden_field :image_cache %>
    </div>

    <%= f.submit '更新する', class: 'btn btn-primary', disabled: true, id: 'submit' %>
  <% end %>
</div>
