<%= content_for :css do %>
  <%= stylesheet_link_tag :profile, media: 'all', 'data-turbolinks-track': 'reload'  %>
<% end %>

<div class="text-center main-image">
  <img class="mx-auto img-thumbnail" src="https://api.adorable.io/avatars/285/<%= @user.email %>.png" alt="<%= @user.name %>">
</div>

<div class="container mt-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><%= @user.name %></h4>
      <p class="card-text"><%= @user.description %></p>
      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    </div>
  </div>
</div>
