<%= content_for :title, 'お知らせ一覧' %>

<div>
  <%= link_to '新規作成', new_admin_information_path, class: 'btn btn-primary' %>
</div>

<table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th>お知らせタイトル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @information.each do |information| %>
    <tr>
      <td>
        <%= link_to information.title, admin_information_path(information) %>
      </td>
      <td>
        <%= link_to '編集', edit_admin_information_path(information) %>
        /
        <%= delete_link_to '削除', admin_information_path(information) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @information %>
