<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do %>
  <div class="row">
    <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
    <div class="pagination-fill-wrapper col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
      <nav aria-label="page navigation">
        <ul class="pagination pagination-lg pagination-fill justify-content-center">
          <%= first_page_tag %>
          <%= prev_page_tag %>
          <% each_page do |page| %>
            <% if page.left_outer? || page.right_outer? || page.inside_window? %>
              <%= page_tag page %>
            <% elsif !page.was_truncated? %>
              <%= gap_tag %>
            <% end %>
          <% end %>
          <%= next_page_tag %>
          <%= last_page_tag %>
        </ul>
      </nav>
    </div>
    <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
  </div>
<% end %>
