<%= content_for :title, 'ケアスク' %>

<% if current_user.try(:confirmed?) %>
  <%= content_for :javascript do %>
    <%= javascript_pack_tag 'post_tags', 'data-turbolinks-track': 'reload' %>
    <script>
      $(".question-box-placeholder").on('click', function () {
         $(this).hide();
         $(".question-box").show();
      });
    </script>
  <% end %>
<% end %>

<% if (params[:page] || 1).to_i == 1 %>
  <%= content_for :css do %>
    <%= stylesheet_pack_tag 'styles/post_tags', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'root' %>
  <% end %>

  <div class="top-wrapper">
    <div class="top-background"></div>
  </div>
<% else %>
  <%= content_for :css do %>
    <%= stylesheet_pack_tag 'styles/post_tags', 'data-turbolinks-track': 'reload' %>
  <% end %>
<% end %>

<div class="container">
  <div class="row post-list">
    <% if current_user.try(:confirmed?) %>
    <div class="<%= flex_spacing %>">
      <div class="question-box-placeholder bg-white text-silence py-2 px-3 mb-3" style="cursor: pointer;">
        <i class="fa fa-pencil"></i>
        <span>新しい質問やノウハウを投稿する</span><br/>
        <small>例)</small>
      </div>
        <%= render partial: 'includes/post_form', locals: { post: @post, class: 'hidden question-box bg-white mb-3 p-3' }  %>
    </div>
    <% end %>

    <% @posts.each do |post| %>
      <div class="post-list__item-wrapper <%= flex_spacing %>">
        <div class="post-list__item">

          <div class="row post-header">
            <div class="col-1">
              <%= image_tag post.user.image_url,
                            class: 'mx-auto align-top img-thumbnail rounded-circle',
                            alt: post.user.name,
                            style: 'max-width: initial; height: 30px; padding: 0; background-color: #eee;' %>
            </div>
            <div class="col-9">
              <%= link_to post.user.name, user_path(post.user), class: 'font-weight-bold' %>さん
            </div>
            <div class="col-2">
              <small><%= distance_of_time_in_words_to_now post.updated_at %></small>
            </div>
          </div>

          <%= link_to post_path(post), class: 'post-link py-3' do %>
            <div class="row">
              <div class="col-12">
                <p><%= truncate_l post.body %></p>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <% if post.comment_count.zero? %>
                  <span class="badge badge-success">未回答</span>
                <% end %>
              </div>
              <div class="col-10 text-right">
                <% post.tags.each do |tag| %>
                  <span class="badge badge-tag"><%= tag.value %></span>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-6">
              <a href="" class="align-middle post-like">
                <i class="fa fa-star"></i>
                <span>いいね</span>
                <span class="badge badge-pill badge-default">0</span>
              </a>
            </div>
            <div class="col-6">
              <%= link_to post_url(post), class: 'align-middle post-comment' do %>
                <i class="fa fa-comment-o"></i>
                <span>コメント</span>
                <span class="badge badge-pill badge-default"><%= post.comment_count %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>
