<%= content_for :javascript do %>
  <%= javascript_pack_tag 'post_tags', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= content_for :css do %>
  <%= stylesheet_pack_tag 'styles/post_tags', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <%= title '質問を編集する' %>

  <%= render partial: 'includes/post_form', locals: { post: @post, url: modify_post_path, method: :patch } %>
</div>
