<div class="container">
  <%= title '質問を投稿する' %>

  <% unless current_user.confirmed? %>
    <div class="alert alert-warning" role="alert">
      メールアドレスの確認をすると投稿できるようになります<br/>
      <small>メールが届かない場合は<%= link_to 'コチラ', new_confirmation_path(current_user) %></small>
    </div>
  <% end %>

  <%= form_for @post do |f| %>

    <div class="form-group">
      <%= f.label :body %><br/>
      <%= f.text_area :body, class: 'form-control', rows: 10 %>
    </div>

    <div class="form-group">
      <%= f.label :image %><br/>
      <%= f.file_field :image, class: 'form-control' %>
      <%= f.hidden_field :image_cache %>
    </div>

    <%= f.submit '投稿する', class: 'btn btn-primary', disabled: !current_user.confirmed? %>
  <% end %>
</div>
