<%= content_for :title, @post.title %>
<div class="container">
  <h2><%= @post.title %></h2>

  <%= link_to @post.user.name, user_path(@post.user) %>
  <% if @post.by? current_user %>
    <%= link_to '編集', edit_post_path(@post) %> /
    <%= delete_link_to '削除', modify_post_path(@post) %>
  <% end %>

  <div class="card mt-3">
    <div class="card-block">
      <%= simple_format @post.body, class: 'card-text' %>
    </div>
  </div>

  <% if @post.comments.present? %>
    <% @post.comments.each do |comment| %>
      <div class="card mt-3">
        <div class="card-block">
          <%= simple_format comment.body, class: 'card-text' %>
          <p class="card-subtitle mb-2 text-muted">
            <%= link_to comment.user.name, user_path(comment.user) %>
            <% if comment.by? current_user %>
              <%= link_to '編集', edit_comment_path(comment) %> /
              <%= delete_link_to '削除', comment_path(comment) %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

  <div>
    <hr/>
    <% if current_user.nil? %>
      <div class="alert alert-warning" role="alert">
        <%= link_to '会員登録', new_user_registration_path %>
        または
        <%= link_to 'ログイン', new_user_session_path %>
        をすると投稿できるようになります<br/>
      </div>
    <% elsif !current_user.confirmed? %>
      <div class="alert alert-warning" role="alert">
        メールアドレスの確認をすると投稿できるようになります<br/>
        <small>メールが届かない場合は<%= link_to 'コチラ', new_confirmation_path(current_user) %></small>
      </div>
    <% end %>
    <%= form_for @comment do |f| %>
      <%= f.hidden_field :post_id %>
      <%= f.hidden_field :user_id %>
      <div class="form-group">
        <%= f.label :body %><br />
        <%= f.text_area :body, class: 'form-control', rows: 5 %>
      </div>
      <%= f.submit 'コメントする', class: 'btn btn-primary', disabled: current_user.nil? || !current_user.confirmed? %>
    <% end %>
  </div>
</div>
