<%= content_for :title, truncate(@post.body) %>
<%= content_for :javascript do %>
  <script>
    (function() {
      $(".comment-edit-btn,.comment-edit-cancel-btn").on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();
        var id = $(this).data("id");
        $(".comment-view-" + id).toggleClass("hidden");
        $(".comment-form-" + id).toggleClass("hidden");
        $(".comment-control-" + id).toggleClass("hidden");
      });
    })();
  </script>
<% end %>

<div class="post-detail container">

  <div class="row">
    <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
    <div class="post-detail__content-wrapper col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
      <div class="post-detail__content">

        <div class="row mb-2" style="height: 30px; line-height: 30px;">
          <div class="col-1">
            <%= image_tag @post.user.image_url,
                          class: 'mx-auto align-top img-thumbnail rounded-circle',
                          alt: @post.user.name,
                          style: 'max-width: initial; height: 30px; padding: 0; background-color: #eee;' %>
          </div>
          <div class="col-9">
            <%= link_to @post.user.name, user_path(@post.user), class: 'font-weight-bold' %>さん
          </div>
          <div class="col-2">
            <small><%= distance_of_time_in_words_to_now @post.updated_at %></small>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%= simple_format @post.body %>
          </div>
          <% if @post.image? %>
          <div class="col-12">
            <%= image_tag @post.image_url %>
          </div>
          <% end %>
        </div>

        <div class="row">
          <div class="col-12 text-right">
            <% @post.tags.each do |tag| %>
                <span class="badge badge-tag"><%= tag.value %></span>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-10">
            <% if @post.by? current_user %>
              <%= link_to '編集', edit_post_path(@post) %> /
              <%= delete_link_to '削除', modify_post_path(@post) %>
            <% end %>
          </div>
          <div class="col-2 text-right">
            <span class="align-middle">
              <i class="fa fa-comment-o"></i>&nbsp;<%= @post.comment_count %>
            </span>
          </div>
        </div>

      </div>
      <div style="padding: 16px; background-color: #f6f6f6; box-shadow: 0 2px 2px #ccc;">
        <% if current_user.nil? %>
          <div class="alert alert-warning" role="alert">
            <%= link_to '会員登録', new_user_registration_path %>
            または
            <%= link_to 'ログイン', new_user_session_path %>
            をすると投稿できるようになります<br/>
          </div>
        <% elsif !current_user.confirmed? %>
          <div class="alert alert-warning" role="alert">
            メールアドレスの確認をすると投稿できるようになります<br/>
            <small>メールが届かない場合は<%= link_to 'コチラ', new_confirmation_path(current_user) %></small>
          </div>
        <% end %>

        <%= form_for @comment do |f| %>
          <%= f.hidden_field :post_id %>
          <%= f.hidden_field :user_id %>
          <div class="form-group">
            <%#= f.label :body %>
            <%= f.text_area :body, class: 'form-control', rows: 5 %>
          </div>
          <%= f.submit 'コメントする', class: 'btn btn-primary btn-block', disabled: current_user.nil? || !current_user.confirmed? %>
        <% end %>
      </div>
    </div>
    <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
  </div>

  <div class="row mt-4">
    <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
    <div class="comment-list__item-wrapper col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
      <h5><%= @post.comment_count %>件のコメント</h5>
    </div>
    <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
  </div>

  <% @comments.each do |comment| %>
    <div class="row mt-3">
      <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
      <div class="comment-list__item-wrapper col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
        <div class="comment-list__item">

          <div class="row mb-2" style="height: 30px; line-height: 30px;">
            <div class="col-1">
              <%= image_tag comment.user.image_url,
                            class: 'mx-auto align-top img-thumbnail rounded-circle',
                            alt: comment.user.name,
                            style: 'max-width: initial; height: 30px; padding: 0; background-color: #eee;' %>
            </div>
            <div class="col-9">
              <%= link_to comment.user.name, user_path(comment.user), class: 'font-weight-bold' %>さん
            </div>
            <div class="col-2">
              <%= distance_of_time_in_words_to_now comment.updated_at %>
            </div>
          </div>

          <div class="comment-view-<%= comment.id %> row">
            <div class="col-12">
              <%= simple_format comment.body %>
            </div>
          </div>

          <% if comment.by? current_user %>
          <div class="comment-form-<%= comment.id %> row hidden">
            <div class="col-12">
              <%= form_for comment do |f| %>
                <div class="form-group">
                  <%= f.text_area :body, class: 'form-control', rows: 10 %>
                </div>
                <%= f.submit '更新', class: 'btn btn-primary' %>
                <a href="#" class="comment-edit-cancel-btn btn btn-secondary" data-id="<%= comment.id %>">キャンセル</a>
              <% end %>
            </div>
          </div>
          <% end %>

          <div class="row">
            <div class="col-10">
              <div class="comment-control-<%= comment.id %>">
                <% if comment.by? current_user %>
                  <%= link_to '編集', '#', class: 'comment-edit-btn', data: { id: comment.id } %><!--
                    -->・<!--
                  --><%= delete_link_to '削除', comment_path(comment) %>
                <% end %>
              </div>
            </div>

            <div class="col-2">
              <span class="align-middle">
              <i class="fa fa-star-o"></i>
            </span>
            </div>
          </div>

        </div>
      </div>
      <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
    </div>

    <%= paginate @comments %>
  <% end %>

  <div class="row mt-4">
    <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
    <div class="comment-list__item-wrapper col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
      <i class="fa fa-chevron-left"></i>
      <%= link_to '質問一覧に戻る', root_path %>
    </div>
    <div class="offset-0 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-2"></div>
  </div>

</div>
