<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'ケアスク' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
      <%#
       FIXME: navbar with container not working correctly now
          div class="container"%>
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#global-header" aria-controls="global-header" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'ケアスク', root_path, class: 'navbar-brand wf-nicomoji ' %>

        <div class="collapse navbar-collapse" id="global-header">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '質問する', new_post_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', user_index_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'お知らせ', information_index_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to '会員登録', new_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'お知らせ', information_index_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      <%# /div%>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="container py-4"></div>
    </footer>
    <%= yield :javascript %>
  </body>
</html>
