<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'ケアスク' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-100568475-1', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>
  </head>

  <body>
    <%= render partial: 'layouts/application/header' %>

    <% if flash.present? %>
      <div class="flash-wrapper">
      <% flash.each do |type, msg| %>
        <% type = 'info' if type == 'notice' %>
        <% type = 'danger' if type == 'alert' %>
        <div class="alert alert-<%= type %> flash fade show <%= flex_spacing %>" role="alert"><%= msg %></div>
      <% end %>
      </div>
    <% end  %>

    <%= yield %>

    <%= render partial: 'layouts/application/footer' %>
    <%= yield :javascript %>
  </body>
</html>
