<%= content_for :javascript do %>
<script>
  $('#agreement').on('change', function () {
    $('#submit-btn').prop('disabled', !$(this).prop('checked'));
  });
</script>
<% end %>
<div class="container">
  <div class="<%= flex_spacing %>">
    <%= title '会員登録' %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name %><br/>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-check">
        <%= label_tag :agreement, class: 'form-check-label' do %>
          <%= check_box_tag :agreement, true, false, class: 'form-check-input' %>
          <%= static_page_link_to '利用規約', :terms %>および<%= static_page_link_to 'プライバシーポリシー', :privacy %>に同意する
        <% end %>
      </div>

      <%= f.submit '登録する', class: 'btn btn-primary btn-block', disabled: true, id: 'submit-btn' %>
    <% end %>

    <%= render 'users/shared/links' %>
  </div>
</div>
